@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}
input {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #111;
  outline: none;
  flex: 2;
  margin-right: 10px;
  font-size: inherit;
}
.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
  margin-bottom: 5px;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 100vh;
}

.start {
  background-color: #FF584D;
}

.progress {
  background-color: #FFB42F;
}

.done {
  background-color: #9ED62F;
}

.hold {
  background: #3FB473;
  color: #fff;
}

.hide {
  display: none;
}

.hovered {
  border-top: 2px solid #3FB473;
}